<p id="notice"><%= notice %></p>

<h1>Lista de correos recordatorio</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Nombre</th>
      <th>Asunto</th>
    </tr>
  </thead>



  <tbody>
    <% @reminders.each do |reminder| %>
      <tr data-id = '<%= reminder.id %>'>
        <td><%= reminder.date %></td>
        <td><%= reminder.time %></td>
        <td><%= reminder.mail_template %></td>
        <td><%= link_to 'Show', mails_shower %></td>
        <td><%= link_to 'Edit', edit_mails_shower_path(mails_shower) %></td>
        <td><%= link_to 'Destroy', create_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo recordatorio', reminders_index_path %>
