<div id="page" class="container-fluid contenedorprincipal" >
            <section role="main-content">
							<%= render partial: "partials/user_panel" %>
				
				<center>
				<div class="fondo">				
				  <h1>Jurado</h1>				  
				  <h3 class="jury">Tesis asignadas</h3>
				</div>
				</center>
				
				<center>
				<div class="panel fondo">
					<div>
					  <div class="scroll">
					  
						<% @grad_jury.each do |gradework| %>	

						<div class="Duno">
							<form role="form" id="editForm" action="/gradeworks/index" method="post">
							<div class="form-group">
								<label for="editDoc">Nombre Trabajo de Grado:</label><br>
								<%=gradework.name%>
							</div>	
							
							<div class="form-group">
								<label for="editDoc">Estudiante:</label><br>
								<% gradework.users.each do |user| %>
                    <% user.roles.each do |role| %>
                      <% if role.name == 'Student' %>
                        <%= user.firstname %>
                        <% if  user.lastname%>
                          <%= user.lastname %>
                        <% end %>
                      <% end %>
                    <% end %>          
                  <% end %>
								<!-- < gradework.users.where(users.roles.name: "Student").each do |estudiante| %>  <estudiante.name %><end%> -->
							</div>	
							
							<div class="form-group">
								<label for="editDoc">Descripción:</label><br>
								<%=gradework.description%>
							</div>	
							
							<input type="hidden" id="idG" name="idGrade" value=<%=gradework.id%>></input> 
							
							</form>		
							
							<button type="button" class="btn btn-default" onclick="location.href = '/gradeworks/<%= gradework.id %>'">Ver más</button>	
							
						</div>
						
						<% end %>

					  </div>
					  
					</div>
				</div>				
				</center>
				
				


            </section>
</div>