<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @create_reminder.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @create_reminder.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @create_reminder.time %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @create_reminder.datetime %>
</p>

<%= link_to 'Edit', edit_create_reminder_path(@create_reminder) %> |
<%= link_to 'Back', create_reminders_path %>
