

<% content_for :head do %>
<%= javascript_include_tag "https://code.highcharts.com/highcharts.src.js", "chartkick" %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<% end %>

<div class="main-container">
    <div class="container-header">
        <h1>Charts</h1>
    </div>
    <div class="container">

<div>
<div class="pull-right">
<p id="notice"><%= notice %></p>
<p></p>
<p> Numero de usuarios:</p>
<p>  <%= @totalnuser.number %></p>
<!--<% @users.each do |user| %>
  <p>  <% user.roles.each do |role| %>
    <div>
      <%if role.name%>
      <%= role.name %>
      <%end%>
    </div>
    <% end %> </p>
<% end %>
-->
<p>Usuarios sin rol</p>
<p><%= @countnoRol%></p>
<p>Usuarios con rol asignado</p>
<p><%= @totalnuser.number - @countnoRol%></p>
<p>Usuarios con mas de un rol:</p>
<p><%= @rolesCreados - @totalnuser.number %></p>
<p></p>
<p>Jurados:</p>
<p><%= @countJury%></p>
<p>Estudiantes</p>
<p><%= @countStudent%></p>
<p>Profesores</p>
<p><%= @countTeacher%></p>
<p>Administradores</p>
<p><%= @countAdmin%></p>
</div>
<div class="pull-left"
<%= users_count %>
</div>
</div>

<p></p>
<p>Numero de tesis creadas</p>
<p><%= @totalgradeworks%></p>

<p>Tesis sin asignar estado</p>
<p><%= @countnoStatus%></p>
<p>Tesis con estado calificado</p>
<p><%= @statuscalificado%></p>
<p>Tesis con estado calificando</p>
<p><%= @statuscalificando%></p>
<p>Tesis con estado sin calificar</p>
<p><%= @statussincalificar%></p>
<p></p>
<%= grading_count %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charts.each do |chart| %>
      <tr>
        <td><%= link_to 'Show', chart %></td>
        <td><%= link_to 'Edit', edit_chart_path(chart) %></td>
        <td><%= link_to 'Destroy', chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= juries_counts %>
<%= link_to 'New Chart', new_chart_path %>




    </div>
</div>
